.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "header header header" 
    "label  input  ."
    ".      button .";
}

.title {
  background-color: aqua;
  grid-column: 1 / 3;
  grid-area: header;
  justify-items: center;
}
